@import url('https://fonts.googleapis.com/css2?family=Alata&family=Belanosima&family=Crimson+Text&family=Josefin+Sans&family=Kanit:wght@300&family=Montserrat:ital,wght@1,300&family=Source+Serif+4:wght@300;500&display=swap');
.experience{
    display: flex;
    flex-direction: column;
    border: 2px dotted white;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}
.experience >p{
    font-family: "Josefin Sans",sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.experience >h4{
    padding-bottom: 30px;
    font-size: 27px;;
}